<div class="card" style="margin:1rem">
    <img class="card-img-top" src="{{course.link}}">
    <div class="card-body" style="padding: 10px">
        <h5 class="card-title" style="padding: 5px">{{course.header}}</h5>
        <p class="card-text">{{course.content}}</p>

        <div class="inf" >
            <div class="col" style="display: flex">
                <img src="./assets/img/engin.jpg " class="teacher" alt="">
                <p>Engin Demiroğ</p>
            </div>
            <div class="col">
                <h3 style="color: #134361">ÜCRETSİZ</h3>
            </div>
        </div>
    </div>
</div>