<div class="container">  
    <div class="field col-12 md:col-6">
        <div class="custom-skeleton p-4">
            <ul class="m-0 o-0">
                <li>
                    <div class="flex">
                        <div style="flex: 1">
                            <p-skeleton width="100%" styleClass="mb-1"></p-skeleton>
                            <p-skeleton width="75%"></p-skeleton>
                        </div>
                    </div>
                </li>             
            </ul>
        </div>
    </div>    
</div>
