<p>Sepetinizde {{cartItems.length}} ürün var.</p>

<ng-template [ngIf]="productList" [ngIfElse]="loading">
    <div *ngIf="productList.length >0; else emptyProduct">
    <div class="row">
            <div class="col-4" *ngFor="let p of productList">
                <etiya-product-card (onBtnClick)="addToCart($event)" [product]="p"></etiya-product-card>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #emptyProduct>
    <div class="alert alert-danger" role="alert">
        Products out of stock
    </div>
</ng-template>
<ng-template #loading>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>



<!-- <div class="row">
        <div *ngFor="let p of productList" class="col-4">
            <etiya-product-card (onBtnClick)="addToCart($event)" [product]="p"></etiya-product-card>
        </div>
</div>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->