<section id="footer">       
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.etiya.com/tr"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.etiya.com/tr"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.etiya.com/tr"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.etiya.com/tr"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.etiya.com/tr" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr style="border-color: white;">
        </div>    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <!-- <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
                <p class="h6">© Made By Mirza Can Çiçekçi</p>
            </div>
            <hr>
        </div> 
</section>
