
@import "primeflex/primeflex.css";

.mirza{
    background-color: #55286F !important;
}

.text-900{
    color: #F17105 !important;
}

.text-600{
    color: #F17105 !important;
}

button{
    color: #F17105 !important;
}