
    <div class="navbar">
      <div class="container" style="display: flex">
        <div>
          <img src="./assets/img/kodlamaio-logo.png" class="logo" alt="">
         </div>
         <div >
          <ul class="menu" style="display:inline">
            <li><a href="">Kampa Hazırlık</a></li>
            <li><a routerLink="/questions">Sık Sorulan Sorular</a></li>
            <li><a href="">Giriş Yap</a></li>
            <li><a href="">Kayıt Ol</a></li>
          </ul>
         </div> 
      </div>
    </div>
  
