<div class="row">
    <ng-container [ngSwitch]="fetchStatus">
        <div *ngSwitchCase="'loaded'" class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                        routerLink="/service/add"></button>
                </ng-template>
            </p-toolbar>
            <p-table [value]="services" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,15]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th style="display:flex;justify-content:end; padding-right: 50px;">Update - Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-service>
                    <tr>
                        <td>{{service.id}}</td>
                        <td>{{service.name}}</td>
                        <td style="display:flex;justify-content:end; padding-right: 50px;">
                            <button style="margin-right: 20px" pButton pRipple icon="pi pi-pencil"
                                (click)="selectedServiceId(service)"
                                class="p-button-rounded p-button-help p-mr-2"></button>
                            <button pButton pRipple icon="pi pi-trash" (click)="deleteService(service.id)"
                                class="p-button-rounded p-button-warning"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{services ? services.length : 0 }} services.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <ng-container *ngSwitchCase="'pending'">
            <div class="col-7 mb-3 mt-4" *ngFor="let i of skeletonSize | createFakeArray">
                <etiya-list-skeleton></etiya-list-skeleton>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'error'">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    Enabled to fetch
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<!-- <etiya-dashboard-layout></etiya-dashboard-layout>
<div class="card">    
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" routerLink="/service/add" class="p-button-success p-mr-2" ></button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="services">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th style="display:flex;justify-content:end; padding-right: 50px;">Update - Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
            <tr>
                <td>{{service.id}}</td>
                <td>{{service.name}}</td>
                <td style="display:flex;justify-content:end; padding-right: 50px;">
                    <button style="margin-right: 20px" pButton pRipple icon="pi pi-pencil" (click)="selectedServiceId(service)" class="p-button-rounded p-button-help p-mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="deleteService(service.id)" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{services ? services.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div> -->