<br>
<header class="e-nav-container">
    <div>
        <img class="e-nav-img" src="./assets/img/etiya_logo_black.png">
    </div>
    <div>
        <label class="e-nav-lang">EN</label>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-2">
            <br>
            <h3 style="color: white;">BUTTONS</h3>
            <br>
            <button class="e-btn-login">BUTTON</button>
            <br>
            <button class="e-btn-create"><img class="e-btn-create-logo"
                    src="../../../../assets/img/create_btn_logo.png">BUTTON</button>
            <br><br>
            <button class="e-btn-clear">BUTTON</button>
            <br><br>
            <button class="e-btn-clear-disabled">BUTTON</button>
            <br><br>
            <button type="button" class="e-btn-search">BUTTON<img class="e-img-search"
                    src="../../../../assets/img/search-btn-logo.png"></button>
            <br><br>
            <button class="e-new-address-btn"> <img src="../../../../assets/img/add_new.png">BUTTON</button>
            <br><br>
            <h3 style="color: white;">CHECKBOX</h3>
            <input type="checkbox" class="form-check-input e-check-box" id="exampleCheck1" />
        </div>
        <div class="col-8">
            <br>
            <h3 style="color: white;">HEADERS</h3>
            <br>
            <div class="e-title-container">
                <span class="e-title" style="color: white;">WELCOME</span>
            </div>
            <br>
            <div class="e-title-container-info">
                <span class="mini-horizontalLine-info"></span><span class="mini-verticalLine-info"></span>
                <span class="e-info-title">Demographic Info</span>
                <span class="verticalLine-info"></span> <span class="horizontalLine-info"></span>
            </div>
            <br>
            <h3 style="color: white;">TABLES</h3>
            <br>
            <table class="e-table table table-bordered">
                <thead>
                    <tr class="table-title">
                        <th class="col-2">Customer ID</th>
                        <th class="col-2">First Name</th>
                        <th class="col-2">Second Name</th>
                        <th class="col-2">Last Name</th>
                        <th class="col-2">Role</th>
                        <th class="col-2">ID Number</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr>
                        <th>306789</th>
                        <td>Mert</td>
                        <td>Metin</td>
                        <td>Özkan</td>
                        <td>Customer</td>
                        <td>2314324</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h3 style="color: white;">INPUT</h3>
            <br>
            <input type="text" class="e-input-white" placeholder="PlaceHolder" />
            <br>
            <input type="text" class="e-input-dark w-100" />
        </div>
    </div>
</div>