<div class="e-search-container">
    <h3 class="e-search-title">{{filterTitle}}</h3>

    <h5 class="e-search-title-mini">Search Filter</h5>

    <div class="e-input-container">
        <label class="e-label">ID NUMBER</label>
        <input type="text" class="e-input" />
    
        <label class="e-label">CUSTOMER ID</label>
        <input type="text" class="e-input" />
    
        <label class="e-label">ACCOUNT NUMBER</label>
        <input type="text" class="e-input" />
    
        <label class="e-label">GSM NUMBER</label>
        <input type="text" class="e-input" />
    
        <label class="e-label">FIRST NAME</label>
        <input type="text" class="e-input" />
    
        <label class="e-label">LAST NAME</label>
        <input type="text" class="e-input" />
    
        <label class="e-label">ORDER NUMBER</label>
        <input type="text" class="e-input" />
    
    </div>    
    <div class="e-btn-container">
        <button class="e-btn-clear">CLEAR</button>
        <button class="e-btn-search">SEARCH<img class="e-img-search"
                src="../../../../assets/img/search-btn-logo.png"></button>
    </div>


</div>