
  <div class="container" style="margin-top: 30px;">
    <div class="tab-1">
      <div class="newtab" style="box-sizing:border-box">
        <label for="category" style="color: #989898">Kategori:</label>
        <div class="dropdown">
          <div>
            <button class="dropbtn">Tümü
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Tümü</a>
              <a href="#">Programlama</a>
            </div>
          </div>
        </div>
      </div>

      <div class="newtab">
        <label for="category" style="color: #989898">Eğitmen:</label>
        <div class="dropdown">
          <div>
            <button class="dropbtn">Tümü
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Tümü</a>
              <a href="#">Engin Demiroğ</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-2">
      <form id="form">
        <input type="search" id="query" name="q" placeholder="     Kurs Bul" style="height: 50px; width:300px">

        <button aria-label="Search Courses" id="search-course-button" class="btn search btn-default btn-lg"
          type="submit" style="height: 50px; width: 50px;"><i class="fa fa-search" title="Search"
            style="size: 65rem;"></i></button>
      </form>
    </div>
  </div>  
  <app-cards></app-cards>
  
   
    
    